body{
	background-color: pink;
	
}
#bicicleta{
	width: 500px;
	height: 315px;
	position: absolute;
}
.triangulo{
	width: 0;
	height: 0;
	border-bottom: 315px solid gray;
	border-right: 100px solid transparent;
	position: absolute;
	left: 208px;
}

.rectangulo {
	width: 200px;
	height: 315px;
	background: gray;
	position: absolute;
}
